<div
  class="recipe-dialog bg-white bg-opacity-100 p-2 max-h-screen overflow-y-auto"
>
  <div class="flex justify-end mb-2">
    <button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h1 mat-dialog-title>
    <b>{{ data.recipe.title }}</b>
  </h1>

  <div class="flex flex-col md:flex-row items-start">
    <div class="w-full md:w-1/2 h-auto object-cover mb-4 md:mb-0">
      <img [src]="data.imageUrl" alt="Image" class="rounded-lg w-full h-auto" />
    </div>
    <div
      class="flex flex-col justify-between pt-5 px-5 md:pl-8 w-full md:w-1/2"
    >
      <p class="mb-4"><b>Energy:</b> {{ data.recipe.calories | number: '1.0-0' }} calories</p>
      <p class="mb-4"><b>Cuisine:</b> {{ data.recipe.region }}</p>
      <p class="mb-4"><b>Prep time:</b> {{ data.recipe.prep_time }}</p>
      <p class="mb-4"><b>Cook time:</b> {{ data.recipe.cook_time }}</p>
    </div>
  </div>

  <div class="flex flex-col pt-5 px-5">
    <h2 class="mb-2"><b>Ingredients:</b></h2>
    <ul>
      <li
        *ngFor="
          let ingredient_with_quantity of data.recipe.ingredients_with_quantities.slice(
            1
          )
        "
      >
        {{ ingredient_with_quantity[0] }} {{ ingredient_with_quantity[1] }}
        {{ ingredient_with_quantity[2] }} {{ ingredient_with_quantity[3] }}
      </li>
    </ul>
    <h2 class="pt-4 mb-4"><b>Instructions:</b></h2>
    <ol *ngIf="data.recipe.instructions.length > 0">
      <li *ngFor="let instruction of data.recipe.instructions.slice(1)">
        {{ instruction[0] }}. {{ [instruction[1]] }}
      </li>
    </ol>
  </div>

  <div class="flex justify-center mt-4">
    <button (click)="close()" class="px-auto w-full py-1 text-white">
      Close
    </button>
  </div>
</div>
