<div
  class="recipe-dialog bg-white bg-opacity-100 p-2 max-h-screen overflow-y-auto"
>
  <div class="flex justify-end mb-2">
    <button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <h1 mat-dialog-title>
    <b>{{ data.recipe.title }}</b>
  </h1>

  <div class="flex flex-col md:flex-row items-start">
    <div class="w-full md:w-1/2 h-auto object-cover mb-4 md:mb-0">
      <img [src]="data.imageUrl" alt="Image" class="rounded-lg w-full h-auto" />
    </div>
    <div
      class="flex flex-col justify-between pt-5 px-5 md:pl-8 w-full md:w-1/2"
    >
      <p class="mb-4"><b>Energy:</b> {{ data.recipe.calories | number: '1.0-0' }} calories</p>
      <p class="mb-4"><b>Cuisine:</b> {{ data.recipe.region }}</p>
      <p class="mb-4"><b>Prep time:</b> {{ data.recipe.prep_time }}</p>
      <p class="mb-4"><b>Cook time:</b> {{ data.recipe.cook_time }}</p>
    </div>
  </div>

  <div class="flex flex-col pt-5 px-5">
    <h2 class="mb-2"><b>Ingredients:</b></h2>
  
    <ng-container *ngFor="let part of parts">
      <h3 class="my-3" *ngIf="part.header">{{ part.header }}</h3>
  
      <table class="table ingredients-table">
        <thead>
          <tr>
            <th>Ingredient</th>
            <th>Quantity</th>
            <th>Unit</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          
          <ng-container *ngFor="let ingredient of part.ingredients">
          <tr>
            <td>{{ ingredient.name }}</td>
            <td>{{ (ingredient.quantity) | fraction }}</td>
            <!-- <td>{{ ingredient.quantity | fraction }}</td> -->
            <td>{{ ingredient.unit }}</td>
            <td *ngIf="ingredient.state">
              ({{ ingredient.state }})
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </ng-container>
  
    <h2 class="pt-4 mb-4 instructions-heading" *ngIf="instructions.length > 0">
      <b>Instructions:</b>
    </h2>
    <ol *ngIf="instructions.length > 0">
      <ng-container *ngFor="let instruction of instructions">
        <li *ngIf="instruction.step === null" [ngClass]="{'subheading-spacing': instruction.step === null}">
          <i>{{ instruction.text }}</i> 
        </li>
        <li *ngIf="instruction.step !== null" class="instruction-item">
          <div class="step">{{ instruction.step }}.</div>
          <div class="text">{{ instruction.text }}</div>
        </li>
      </ng-container>
    </ol>
  </div>

  <div class="flex justify-center mt-4">
    <button (click)="close()" class="px-auto w-full py-1 text-white">
      Close
    </button>
  </div>
</div>
