mat-toolbar {
  justify-content: space-between;
}

.content {
  // padding: 32px;
}

.profile-image-toolbar {
  border-radius: 100%;
  margin-right: 8px;
}

// prevents the weird grey background on the page
.mat-drawer-container {
  background-color: white;
}

.sidenav-container {
  flex: 1;
  .sidenav {
    min-width: 240px;
    a {
      display: block;
      // padding: 6px 24px;
      width: 100%;
      text-align: left;
    }
  }
  main {
    // padding: 18px 24px;
  }
}
