<div class="content">
    <mat-toolbar class="bg-primary text-white">
      <img
      src="../assets/images/MealPlanIQ_Logo.png"
      alt="MealPlanIQ"
      routerLink="/"
      style="cursor: pointer;"/>
      <div class="flex-grow"></div>
      <ng-container *ngIf="user$ | async as user; else loginButton">
        <button mat-button [matMenuTriggerFor]="userMenu" class="mr-2">
          <img
            width="30"
            height="30"
            class="profile-image-toolba rounded-full"
            [src]="user.photoURL ?? 'assets/images/image-placeholder.png'"
          />
          {{ user.displayName }}
        </button>
      </ng-container>
      <ng-template #loginButton>
        <div>
          <button mat-button routerLink="login">
            <mat-icon>login</mat-icon>
            Sign in
          </button>
          <button mat-button class="menu-button" [matMenuTriggerFor]="menu" >
            <mat-icon>{{ isMenuOpen ? "menu_open" : "menu" }}</mat-icon>
          </button>
        </div>
      </ng-template>
    </mat-toolbar>
    </div>
  

    <mat-menu #menu="matMenu" >
      <button mat-menu-item routerLink="/">
        <mat-icon>restaurant_menu</mat-icon>
        Generate Meal Plan
      </button>
      <button mat-menu-item routerLink="/about">
        <mat-icon>info</mat-icon>
        About
      </button>
      <button mat-menu-item routerLink="/contact">
        <mat-icon>contact_support</mat-icon>
        Contact
      </button>
    </mat-menu>

    <main>
      <router-outlet></router-outlet>
    </main>


  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      Dashboard
    </button>
    <button mat-menu-item routerLink="/">
      <mat-icon>restaurant_menu</mat-icon>
      Generate Meal Plan
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      Sign out
    </button>
  </mat-menu>