<!-- Author: BCIT May 2025 -->
<div class="popup-max-height hide_scroll">
  <div class="flex justify-center pt-3 pb-4">
    <img
      src="./../../../../assets/images/lamp-icon.png"
      alt="lamp"
      class="popup-icon"
    />
  </div>
  <h2
    mat-dialog-title
    class="text-xl text-primary text-center font-bold mb-10 justify-center items-center"
  >
    Shopping List
  </h2>

  <h3
    class="font-semibold text-primary text-date flex items-center justify-center"
  >
    <mat-icon class="mr-2" fontIcon="restaurant" color="default"> </mat-icon>
    {{ data.minDate | date : "MMM dd" }}
    <ng-container *ngIf="data.minDate !== data.maxDate">
      to {{ data.maxDate | date : "MMM dd" }}</ng-container
    >
  </h3>

  <div class="shopping-list-container mx-auto px-2 sm:px-4 pb-4">
    <div
      *ngIf="!categorizedShoppingList || categorizedShoppingList.size === 0"
      class="text-center text-gray-500 py-4"
    >
      Your shopping list is empty or not yet loaded.
    </div>

    <div *ngFor="let category of getCategories()" class="mb-6">
      <h4
        class="text-lg font-semibold text-primary mb-2 sticky top-0 bg-white py-1 z-10"
      >
        {{ category }}
      </h4>
      <div class="overflow-x-auto">
        <table class="w-full border-collapse shopping-list-table">
          <thead>
            <tr class="border-b-2 border-primary-light">
              <th
                class="py-2 px-2 text-sm font-medium text-gray-700 w-3/5 sm:w-3/4 text-left" 
              >
                Item
              </th>
              <th
                class="py-2 px-2 text-sm font-medium text-gray-700 w-2/5 sm:w-1/4 text-center" 
              >
                Quantity
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container
              *ngIf="categorizedShoppingList.get(category) as items"
            >
              <tr
                *ngFor="let item of items"
                class="border-b border-gray-200 hover:bg-gray-50"
              >
                <td class="py-2 px-2 text-sm text-gray-600 text-left">{{ item.name }}</td> 
                <td class="py-2 px-2 text-sm text-gray-600 text-center"> 
                  {{ item.quantity }}
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<mat-dialog-actions
  align="end"
  class="sticky bottom-0 bg-white py-2 px-4 border-t"
>
  <button mat-button mat-dialog-close class="text-secondary-strong">
    Close
  </button>
</mat-dialog-actions>