<!-- this is the start of banner -->

<td
  class="bg-top bg-no-repeat bg-cover rounded text-left"
  style="
    background-image: url('https://images.unsplash.com/photo-1505682750263-f3f9e519c565?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  "
>
  <x-v-fill image="{{{ page.image }}}">
    <x-spacer class="leading-16 sm:leading-8" />

    <table class="w-full">
      <tr>
        <td class="w-2 sm:w-1"></td>
        <td style="width: 80%">
          <h1 class="m-0 mb-4 text-4xl sm:text-2xl text-white sm:leading-10">
            Hi {{ page.data.user.name }}!
          </h1>
          <p class="m-0 text-white text-base sm:text-sm leading-6">
            Checkout your meal plan
            <br />
            for the next 7 days!
          </p>

          <!-- <each loop="plan in page.data.plans">
                <p class="m-0 text-white text-lg leading-6">
                  {{ plan.name }}
                </p>
              </each> -->

          <x-spacer class="leading-16 sm:leading-8" />

          <x-button href="{{ page.urlAddress }}" className="text-background">
            Read more &rarr;
          </x-button>
        </td>
        <td class="w-2 sm:w-1"></td>
      </tr>
    </table>

    <x-spacer class="leading-16 sm:leading-8" />
  </x-v-fill>
</td>

<!-- this is the end of banner -->
