<table
  class="w-full text-center mt:4 bg-background text-text-black shadow-sm rounded overflow-hidden"
  align="center"
>
  <thead>
    <tr class="bg-primary-light" style="line-height: 3rem">
      <th></th>
      <th>Target</th>
      <th>Actual</th>
    </tr>
  </thead>
  <tbody class="text-sm">
    <!-- Loop through the nutrition data -->
    <each loop="item in page.data.nutrition">
      <tr>
        <td class="px-3 py-2">
          <p>{{ item.nutrientName }}</p>
        </td>
        <td class="px-3 py-2">
          <p
            class="inline-block p-1 bg-background-info text-text-info font-semibold rounded text-sm"
          >
            {{ item.target }}
          </p>
        </td>
        <td class="px-3 pr-5 py-2">
          <if condition="item.status==='success'">
            <p
              class="inline-block p-1 bg-background-success text-text-success font-semibold rounded text-sm"
            >
              {{ item.actual }}
            </p>
          </if>
          <else>
            <p
              class="inline-block p-1 bg-background-warning text-text-warning font-semibold rounded text-sm"
            >
              {{ item.actual }}
            </p>
          </else>
        </td>
      </tr>
    </each>
  </tbody>
</table>
