<body class="bg-primary-light flex items-center justify-center h-screen">
  <div class="flex flex-col items-center justify-center px-6 py-8 md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow-lg md:mt-0 sm:max-w-md xl:p-0">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">

        <!-- Conditional screen rendering (View before email is sent) -->
        <ng-container *ngIf="!showConfirmation; else confirmationTemplate">
          <p class="text-center text-xl font-bold leading-tight tracking-tight md:text-2xl ">
            Forgot password
          </p>
          <p class="text-sm font-light">Enter your email address and we'll send you a link to reset it.</p>

          <form class="p-2 space-y-4 md:space-y-6" [formGroup]="forgotPwForm" (ngSubmit)="submit()">
            <mat-form-field class="w-full max-w-lg">
              <input matInput placeholder="Email address" formControlName="email" />
              <mat-error *ngIf="email?.errors?.['required']">
                Email address is required.
              </mat-error>
              <mat-error *ngIf="email?.errors?.['email']">
                Please enter a valid email address.
              </mat-error>
            </mat-form-field>

            <div class="center">
              <button type="submit"
                class="w-full text-white bg-primary focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                Send Reset Link
              </button>
            </div>
          </form>

          <button routerLink="/login" class="mt-4 text-sm hover:underline font-medium">
            ← Back to Login
          </button>
        </ng-container>

        <!-- View shown after email is sent -->
        <ng-template #confirmationTemplate>
          <div class="text-center space-y-4">

            <p class="text-center text-xl font-bold leading-tight tracking-tight md:text-2xl ">
              Reset Email Sent
            </p>
            <p class="text-sm font-light">
              We have sent an email to reset your password to <strong class="text-primary">{{ emailToResend }}</strong>.
              <br>
              Please check your mailbox now!
            </p>

            <div class="text-right">
              <div class="text-sm flex justify-end">
                <strong class="text-bold text-primary">Didn't receive? </strong> <span *ngIf="!resendAvailable" class="font-light"> {{ countdown }}s to resend</span>
                <button *ngIf="resendAvailable" (click)="resendEmail()" class="text-bold hover:underline text-sm">
                  <strong>Resend email</strong>
                </button>
              </div>
            </div>
          </div>  
          <button routerLink="/login" class="mt-4 text-sm hover:underline font-medium">
            ← Back to Login
          </button>
        </ng-template>

      </div>
    </div>
  </div>
</body>