---
title: "MealPanIQ Weekly Update"
preheader: "👀 check out the meal plan for the upcoming week"
---

<x-main>
  <div class="bg-slate-50 sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[800px] max-w-full">
          <table class="w-full">
            <!-- <tr>
              <x-logo></x-logo>
            </tr> -->
            <!-- this is the start of banner -->
            <tr>
              <x-banner></x-banner>
            </tr>
            <!-- this is the end of banner -->
            <tr role="separator">
              <td class="leading-8">&zwj;</td>
            </tr>

            <x-mealCards></x-mealCards>
            <tr class="text-text-black">
              <td>
                <h2 class="mt-24 text-center">Nutritional Report</h2>
              </td>
            </tr>
            <tr>
              <x-nutrition_table></x-nutrition_table>
            </tr>
            <tr role="separator">
              <td class="leading-16 sm:leading-8">&zwj;</td>
            </tr>
            <tr>
              <td
                class="px-12 sm:px-6 py-4 bg-background rounded shadow text-center"
              >
                <p class="m-0 text-sm/5 text-text-light">
                  <a class="text-primary" href="{{ page.urlAddress}}"
                    >MealPlanIQ</a
                  >
                  &copy; 2024 Galapagos Technologies Incorporated. &nbsp; All
                  Rights Reserved.
                </p>
              </td>
            </tr>

            <tr role="separator">
              <td class="leading-8">&zwj;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
