<x-pdf>
  <div class="w-[700px] mt-12 mb-12 text-center text-primary font-semibold">
    <img src="images/MealPlanIQ_Logo.png" />
    <h1 class="mt-8">Shopping List</h1>
    <p class="font-normal text-base/0">
      {{ page.data.plans[0].date }} to {{ page.data.lastDate }}
    </p>

    <div class="container mt-14 mb-36">
      <div class="text-text-black">
        <ul class="shopping-list">
          <each loop="listItem in page.data.shoppingList">
            <li>
              <div class="w-full flex justify-between m-0 p-0 ml-4">
                <p>{{ listItem.name }}</p>
                <p>{{ listItem.quantity }}</p>
              </div>
            </li>
          </each>
        </ul>
      </div>
    </div>
    <hr style="margin-top: 40px" />
    <p class="m-0 text-sm/5 text-text-light text-right">
      <a class="text-primary" href="{{ page.urlAddress}}">MealPlanIQ</a>
      &copy; 2024 Galapagos Technologies Incorporated.
      <br />
      All Rights Reserved.
    </p>
  </div>
</x-pdf>
<style>
  .shopping-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  .shopping-list li {
    width: 215px;
    padding-right: 30px;
    margin-right: 15px;
    box-sizing: border-box;
    line-height: 0px;
    border-left: 3px solid #88a56f;
  }
</style>
