<div class="container mat-elevation-z5" *ngIf="!showSpinner">
  <h1>
    {{ (user$ | async)?.displayName }}, Generate a customized meal plan from
    hundreds of recipes for your needs!
  </h1>

  <div class="content">
    <div class="row">
      <mat-form-field>
        <mat-label>Unit</mat-label>
        <mat-select [(ngModel)]="selectedUnit" (ngModelChange)="changeUnit()">
          <mat-option
            *ngFor="let unit of units"
            [value]="unit.value"
          >
            {{ unit.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Meals for"
          [(ngModel)]="numOfPeople"
          (input)="addFields()"
          min="1"
          (click)="$event.stopPropagation()"
        />
        <mat-icon svgIcon="people" class="mat-icon-right">icon</mat-icon>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Your Age"
          [(ngModel)]="age"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          [placeholder]="
            selectedUnit === 'metric' ? 'Your Weight (KG)' : 'Your Weight (LBS)'
          "
          [(ngModel)]="weight"
          required
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="number"
          [placeholder]="
            selectedUnit === 'metric' ? 'Your Height (CM)' : 'Your Height (IN)'
          "
          [(ngModel)]="height"
          required
        />
      </mat-form-field>
    </div>
    <div class="row">
      <ng-container *ngFor="let person of people; let i = index">
        <mat-form-field>
          <input
            matInput
            type="number"
            placeholder="Age of Person {{ i + 2 }}"
            [(ngModel)]="person.age"
            min="0"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="number"
            [placeholder]="
              selectedUnit === 'metric'
                ? 'Weight of Person ' + (i + 2) + ' (KG)'
                : 'Weight of Person ' + (i + 2) + ' (LBS)'
            "
            [(ngModel)]="person.weight"
            min="0"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            type="number"
            [placeholder]="
              selectedUnit === 'metric'
                ? 'Height of Person ' + (i + 2) + ' (CM)'
                : 'Height of Person ' + (i + 2) + ' (IN)'
            "
            [(ngModel)]="person.height"
            min="0"
          />
        </mat-form-field>
      </ng-container>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Activity Level</mat-label>
        <mat-select required [(ngModel)]="selectedActivityLevel">
          <mat-option
            *ngFor="let activityLevel of activityLevels"
            [value]="activityLevel.value"
          >
            {{ activityLevel.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select required [(ngModel)]="selectedGender">
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{ gender.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Dietary Constraints</mat-label>
        <mat-select required [(ngModel)]="selectedDietaryConstraint">
          <mat-option
            *ngFor="let vegeterian of vegeterians"
            [value]="vegeterian.value"
          >
            {{ vegeterian.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Health Goals</mat-label>
        <mat-select required [(ngModel)]="selectedHealthGoal">
          <mat-option
            *ngFor="let healthGoal of healthGoals"
            [value]="healthGoal.value"
          >
            {{ healthGoal.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Cooking Skills</mat-label>
        <mat-select required [(ngModel)]="selectedCookingSkill">
          <mat-option
            *ngFor="let cookingSkill of cookingSkills"
            [value]="cookingSkill.value"
          >
            {{ cookingSkill.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Religious Constraints</mat-label>
        <mat-select required [(ngModel)]="selectedReligiousConstraint">
          <mat-option
            *ngFor="let Religious of religiousConstraints"
            [value]="Religious.value"
          >
            {{ Religious.viewValue }}
          </mat-option>
        </mat-select>
        <mat-icon svgIcon="religious" class="mat-icon-right">icon</mat-icon>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Liked Foods</mat-label>
        <mat-select [formControl]="likedFoods" multiple>
          <mat-select-trigger>
            {{likedFoods.value?.[0] || ''}}
            <span *ngIf="(likedFoods.value?.length || 0) > 1">
              (+{{ (likedFoods.value?.length || 0) - 1 }}
              {{ likedFoods.value?.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let likedFood of likedFoodsList"
            [value]="likedFood"
          >
            {{ likedFood }}
          </mat-option>
        </mat-select>
        <mat-icon svgIcon="liked-foods" class="mat-icon-right">icon</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Disliked Foods</mat-label>
        <mat-select [formControl]="dislikedFoods" multiple>
          <mat-select-trigger>
            {{dislikedFoods.value?.[0] || ''}}
            <span *ngIf="(dislikedFoods.value?.length || 0) > 1">
              (+{{ (dislikedFoods.value?.length || 0) - 1 }}
              {{ dislikedFoods.value?.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let dislikedFoods of dislikedFoodsList"
            [value]="dislikedFoods"
            >{{ dislikedFoods }}</mat-option
          >
        </mat-select>
        <mat-icon svgIcon="disliked-foods" class="mat-icon-right"
          >icon</mat-icon
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Favourite Cuisines</mat-label>
        <mat-select [formControl]="Cuisines" multiple>
          <mat-select-trigger>
            {{Cuisines.value?.[0] || ''}}
            <span *ngIf="(Cuisines.value?.length || 0) > 1">
              (+{{ (Cuisines.value?.length || 0) - 1 }}
              {{ Cuisines.value?.length === 2 ? "other" : "others" }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let cuisine of CuisinesList" [value]="cuisine">{{
            cuisine
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Cost</mat-label>
        <mat-select [(ngModel)]="selectedCost">
          <mat-option *ngFor="let Cost of Costs" [value]="Cost.value">
            {{ Cost.viewValue }}
          </mat-option>
        </mat-select>
        <mat-icon class="mat-icon-right">attach_money</mat-icon>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Start Date</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Finish Date</mat-label>
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker2"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="submit-button-container">
      <button mat-raised-button color="primary" (click)="sendData()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>

  <div
    class="spinner-container flex justify-center items-center"
    *ngIf="showSpinner"
  >
    <mat-spinner></mat-spinner>
  </div>

  <div class="recipe-section" *ngIf="recipesFetched">
    <div class="bmiTdee">
      <h2 class="centered-text">BMI: {{ bmiValue }}</h2>
      <div class="vertical-line"></div>
      <h2 class="centered-text">Total Daily Calorie Intake: {{ tdeeValue }}</h2>
    </div>
    <h1 class="centered-text">Recipes</h1>
    <mat-list *ngIf="recipe && recipe.length > 0">
      <mat-list-item *ngFor="let recipeItem of recipe">
        <mat-icon matListIcon>local_dining</mat-icon>
        <div matLine>
          <h1>
            {{ recipeItem.title }} <mat-icon>arrow_right_alt</mat-icon>
            {{ recipeItem.country }}
          </h1>
        </div>
        <div matLine>Calories: {{ recipeItem.calories }}</div>
        <div matLine>Carbohydrates: {{ recipeItem.carbohydrates }}</div>
        <div matLine>Fat: {{ recipeItem.fat }}</div>
        <div matLine>Protein: {{ recipeItem.protein }}</div>
        <div matLine>ingredients: {{ recipeItem.ingredients }}</div>
        <div matLine>Price: ${{ recipeItem.price }}</div>
        <!-- Add other recipe properties you want to display -->
      </mat-list-item>
    </mat-list>
    <p *ngIf="!recipe || recipe.length === 0">No recipes found.</p>

    <div class="total-price" *ngIf="recipe && recipe.length > 0">
      <h3 class="centered-text">Total Price: ${{ getTotalPrice() }}</h3>
    </div>
  </div>
</div>
