/* .form-container {
  max-width: 65vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
} */

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.mat-form-field {
  flex-basis: calc(33.33% - 16px);
  margin-bottom: 16px;
}

.mat-datepicker-toggle {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}

.mat-hint {
  margin-top: 4px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mat-icon-right {
  position: absolute;
  right: 30px;
  top: 50%;
  pointer-events: none;
  transform: translateY(-91%) scale(1.5);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.submit-button-container {
  width: 100%;
}

button {
  width: 100%;
}

.recipe-section {
  margin-top: 5rem;
}

mat-card {
  margin-bottom: 20px;
}

mat-list-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.bmiTdee {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.centered-text {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0 10px; /* Add margin to create space */
}

.vertical-line {
  border-left: 2px solid black;
  height: 100px; /* Adjust the height as needed */
  margin: 0 20px; /* Add margin to create space */
}


