


<h1 class="text-center">Our Team</h1>
<p>
  Our team is made up of a diverse group of individuals with a wide range of skills and experience. 
  We are united by our passion for health and wellness and our desire to make a positive impact on the world.
</p>

<h2>Executive</h2>
<h3>Warren</h3>
<ul>
  <li>Founder & CEO</li>
  <li>30 years in software engineer</li>
  <li>10 years in Artifical Intelligence field</li>
  <li>Bachelor in Electrical Engineering</li>
  <li>PhD in Computer Science</li>
</ul>

<h2>Domain Expert</h2>
<h3>Rachelle</h3>
<ul>
  <li>Registered Dietitian</li>
  <li>Certified Personal Trainer</li>
</ul>

<h2>Development</h2>
<h3>Jose</h3>
<ul>
  <li>25 years in project management</li>
</ul>
</div>