<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
      <!-- Item 1 -->
      <div [ngClass]="{'hidden': currentItem !== 0, 'block': currentItem === 0, 'duration-700': true, 'ease-in-out': true}" data-carousel-item>
        <img src="https://picsum.photos/id/237/200/300" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Slide 1">
      </div>
      <!-- Item 2 -->
      <div [ngClass]="{'hidden': currentItem !== 1, 'block': currentItem === 1, 'duration-700': true, 'ease-in-out': true}" data-carousel-item>
        <img src="https://picsum.photos/id/222/200/300" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Slide 2">
      </div>
      <!-- Item 3 -->
      <div [ngClass]="{'hidden': currentItem !== 2, 'block': currentItem === 2, 'duration-700': true, 'ease-in-out': true}" data-carousel-item>
        <img src="https://picsum.photos/id/227/200/300" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Slide 3">
      </div>
      <!-- Item 4 -->
      <div [ngClass]="{'hidden': currentItem !== 3, 'block': currentItem === 3, 'duration-700': true, 'ease-in-out': true}" data-carousel-item>
        <img src="https://picsum.photos/id/100/200/300" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="Slide 4">
      </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="true" aria-label="Slide 1" (click)="updateCarousel(0)"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false" aria-label="Slide 2" (click)="updateCarousel(1)"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false" aria-label="Slide 3" (click)="updateCarousel(2)"></button>
      <button type="button" class="w-3 h-3 rounded-full bg-white" aria-current="false" aria-label="Slide 4" (click)="updateCarousel(3)"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" (click)="goToPrev()">
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
        <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" (click)="goToNext()">
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50 group-focus:ring-4 group-focus:ring-white group-focus:outline-none">
        <svg class="w-4 h-4 text-white rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
  