.form-container {
  max-width: 65vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  background-color: white;
}

.row {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.row .mat-form-field {
  flex-basis: calc(33.33% - 16px);
}

.mat-form-field {
  flex-basis: calc(33.33% - 16px);
  margin-bottom: 16px;
}

.mat-datepicker-toggle {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  cursor: pointer;
}

.mat-hint {
  margin-top: 4px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}

.mat-icon-right {
  position: absolute;
  right: 30px;
  top: 50%;
  pointer-events: none;
  transform: translateY(-91%) scale(2);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

button {
  width: 100%;
}

.recipe-section {
  margin-top: 5rem;
}

mat-card {
  margin-bottom: 20px;
}

mat-list-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.bmiTdee {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.centered-text {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin: 0 10px; /* Add margin to create space */
}

.text-center {
  text-align: center;
}

.vertical-line {
  border-left: 2px solid black;
  height: 100px; /* Adjust the height as needed */
  margin: 0 20px; /* Add margin to create space */
}

.recipe-card {
  max-width: 600px;
  /* max-height: 100px; */
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.recipe-card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-card-info {
  padding: 20px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
} 

.recipe-card-info p {
  font-size: 18px;
}

.recipe-container {
}

.recipe-row {
  display: flex;
  margin-bottom: 20px;
}

.container {
  max-width: 65vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.mat-card {
  min-width: 600px !important;
  margin-bottom: 0px;
}

.mat-card-title {
  max-width: 300px;
}

.meal-type {
  align-self: center;
  min-width: 80px;
}

.recipe-day {
  margin: 80px 0px;
}

.no-top-margin {
  margin-top: 0px;
}

.num-people {
  max-width: 50px;
}

.liked-foods {
  max-width: 200px;
}

.no-wrap {
  flex-wrap: nowrap;
}

.person-number {
  align-self: center;
  font-size: 22px;
  font-weight: bold;
}

.add-people-icons {
  display: flex;
  max-width: 50px;
  gap: 5px;
}

.icon-display {
  transform: scale(1.7);
}

.icon-display:hover {
  transform: scale(2.0);
  cursor: pointer;
}

.green-icon {
  color: green;
}

.red-icon {
  color: red;
}

.age {
  max-width: 60px;
}

.gender {
  max-width: 80px;
}

.weight {
  max-width: 110px;
}

.height {
  max-width: 110px;
}

.activity-level {
  max-width: 300px;
}

.dietary-constraints {
  max-width: 200px;
}

.religious-constraints {
  max-width: 225px;
}

.health-goals {
  max-width: 150px;
}

.favourite-cuisines {
  max-width: 220px;
}

.mat-accordian {
  margin-bottom: 20px !important;
  margin-left: auto;
  margin-right: auto;
}

.mat-expansion-panel {
  background-color: white;
}

table {
  width: 100%;
}

.mat-header-cell {
  /* font-weight: bold; */
  color: black;
  font-size: 16px;
}

.get-full-meal-plan-button {
  display: block;
  max-width: 200px; 
  margin: 10px auto;
}

.example-button-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 20px auto;
  flex-wrap: wrap;
  width: 75%;
  max-width: 800px;
}

.health-goal-btn {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  color: white;
  background-color: rgb(103, 121, 221);

}

.br-btn {
  display: block;
  margin: -3px 0px;
}

.selected-btn {
  background-color: white;
  color: rgb(103, 121, 221);
}

.header {
  font-size: 28px;
}

.text-xl {
  font-size: 36px;
}

.text-l {
  font-size: 28px;
}

.sub-header {
  font-size: 28px;
  /* margin-bottom: 0px; */
}

.sub-text {
  font-size: 17px;
}

.loading-meal-plan {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.spinner-container {
  height: unset;
}

.snack-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.beta {
  font-size: 18px;
  font-weight: bold;
  color: red;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recipe-card-image {
  border-radius: 4px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}




