<div
  class="container mx-auto flex flex-col items-center justify-center min-h-screen"
  #start
>
  <div class="w-full max-w-xl p-8 bg-white rounded-lg shadow-lg">
    <h1 class="text-red">
      MealPlanIQ is currently in beta and we are working to make it better! We
      appreciate your patience.
    </h1>
    <h1>
      Fighting cancer, heart disease, or diabetes? Want to lose weight or gain
      muscle?
    </h1>
    <p>
      <i>MealPlan IQ</i> combines a registered dietician's advice with your
      preferences and restrictions to generate
      <strong><i>personalized</i> and <i>optimized</i> meal plans</strong> that
      meet government-recommended nutritional requirements.
    </p>

    <h1 class="text-lg text-center">Give it a try!</h1>
    <p class="text-center text-2xl">① Select your health goal:</p>

    <div
      class="container flex flex-wrap items-center justify-center text-center"
    >
      <form #peopleForm="ngForm" (ngSubmit)="showTermsAndConditions()">
        <div class="grid-rows">
          <div
            class="grid-cols-4 p-8 flex flex-wrap justify-center items-center"
          >
            <button
              *ngFor="let item of healthGoals; let i = index"
              type="button"
              class="health-goal-button text-white bg-primary hover:bg-primary-strong focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm text-center me-2 mb-2"
              [ngClass]="{
                'bg-primary-strong': selectedHealthGoalIndex === i,
                'bg-primary': selectedHealthGoalIndex !== i
              }"
              (click)="healthGoalChange(i, item.value)"
            >
              <span class="health-goal-text">
                {{ item.viewValue }}
              </span>
            </button>
          </div>
        </div>

        <p class="text-center text-2xl">② Personalize your diet</p>

        <div class="row">
          <mat-accordion class="mat-accordian" multi>
            <mat-expansion-panel #peoplePanel [expanded]="panelOpenState">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  People &nbsp;
                  <mat-icon
                    class="icon-display"
                    fontIcon="group_add"
                  ></mat-icon>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="grid grid-cols-2 ">
                <div class="add-people-icons justify-start ">
                  <button
                    [style.visibility]="
                      people.length > MIN_PEOPLE ? 'visible' : 'hidden'
                    "
                    mat-icon-button
                    type="button"
                    (click)="changeFields(-1)"
                  >
                    <mat-icon class="icon-display red-icon">remove</mat-icon>
                  </button>
                  <span class="person-number">{{ people.length }}</span>
                  <button
                    [style.visibility]="
                      people.length < MAX_PEOPLE ? 'visible' : 'hidden'
                    "
                    mat-icon-button
                    type="button"
                    (click)="changeFields(1)"
                  >
                    <mat-icon class="icon-display green-icon">add</mat-icon>
                  </button>
                </div>

                <div class="grid justify-items-end pr-5">
                  <mat-button-toggle-group>
                    <mat-button-toggle
                      value=""
                      (click)="setSelectedUnit('metric')"
                      checked
                      >Metric
                    </mat-button-toggle>
                    <mat-button-toggle
                      value=""
                      (click)="setSelectedUnit('imperial')"
                      >Imperial
                    </mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
              </div>

        
                <ng-container *ngFor="let person of people; let i = index">
                    <h3 class="pt-8">Person {{ i + 1 }}</h3>

                  
                  <div class="grid md:grid-cols-2 gap-4">

                  <div class="col-span-1">
                    <mat-form-field class="age">
                      <input
                        matInput
                        type="number"
                        placeholder="Age"
                        [(ngModel)]="person.age"
                        min="1"
                        [name]="'age' + i"
                        required
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-span-1">
                    <mat-form-field class="gender">
                      <mat-label>Gender</mat-label>
                      <mat-select
                        required
                        [(ngModel)]="person.gender"
                        [name]="'gender' + i"
                      >
                        <mat-option
                          *ngFor="let gender of genders"
                          [value]="gender.value"
                        >
                          {{ gender.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-span-1">
                    <mat-form-field class="weight">
                      <input
                        matInput
                        type="number"
                        [placeholder]="
                          selectedUnit === 'metric'
                            ? 'Weight' + ' (KG)'
                            : 'Weight ' + ' (LBS)'
                        "
                        [(ngModel)]="person.weight"
                        [name]="'weight' + i"
                        min="0"
                        required
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-span-1">
                    <mat-form-field class="height">
                      <input
                        matInput
                        type="number"
                        [placeholder]="
                          selectedUnit === 'metric'
                            ? 'Height' + ' (CM)'
                            : 'Height' + ' (IN)'
                        "
                        [(ngModel)]="person.height"
                        [name]="'height' + i"
                        min="0"
                        required
                      />
                    </mat-form-field>
                  </div>

                  <div class="col-span-1">
                    <mat-form-field class="activity-level">
                      <mat-label>Activity Level</mat-label>
                      <mat-select
                        required
                        [(ngModel)]="person.activityLevel"
                        [name]="'activityLevel' + i"
                      >
                        <mat-option
                          *ngFor="let activityLevel of activityLevels"
                          [value]="activityLevel.value"
                        >
                          {{ activityLevel.viewValue }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-span-1"></div>
                </div>
                </ng-container>
              

              <div class="flex items-center justify-center">
                <button
                  type="button"
                  (click)="closePanel()"
                  class="justify-items-center px-28 text-white py-2"
                >
                  Done
                </button>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="max-w-md mx-auto pt-8">
          <div class="grid md:grid-cols-1 gap-6">
            <mat-form-field class="dietary-constraints">
              <mat-label
                >Dietary Constraints
                <mat-icon fontIcon="eco" color="default"> </mat-icon>
              </mat-label>
              <mat-select
                required
                [(ngModel)]="selectedDietaryConstraint"
                name="dietaryConstraint"
              >
                <mat-option
                  *ngFor="let vegetarian of vegetarians"
                  [value]="vegetarian.value"
                >
                  {{ vegetarian.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid md:grid-cols-1 gap-6">
            <mat-form-field class="religious-constraints">
              <mat-label
                >Religious Constraints
                <mat-icon fontIcon="church" color="default"> </mat-icon>
              </mat-label>
              <mat-select
                required
                [(ngModel)]="selectedReligiousConstraint"
                name="religiousConstraint"
              >
                <mat-option
                  *ngFor="let Religious of religiousConstraints"
                  [value]="Religious.value"
                >
                  {{ Religious.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid md:grid-cols-1 gap-6">
            <mat-form-field class="liked-foods">
              <mat-label
                >Liked Foods
                <mat-icon fontIcon="thumb_up" color="default"> </mat-icon>
              </mat-label>
              <mat-select [formControl]="likedFoods" multiple name="likedFoods">
                <mat-select-trigger>
                  {{likedFoods.value?.[0] || ''}}
                  <span *ngIf="(likedFoods.value?.length || 0) > 1">
                    (+{{ (likedFoods.value?.length || 0) - 1 }}
                    {{ likedFoods.value?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let likedFood of likedFoodsList"
                  [value]="likedFood"
                >
                  {{ likedFood }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid md:grid-cols-1 gap-6">
            <mat-form-field class="favourite-cuisines">
              <mat-label
                >Disliked Foods
                <mat-icon fontIcon="thumb_down" color="default"> </mat-icon>
              </mat-label>
              <mat-select [formControl]="dislikedFoods" multiple>
                <mat-select-trigger>
                  {{dislikedFoods.value?.[0] || ''}}
                  <span *ngIf="(dislikedFoods.value?.length || 0) > 1">
                    (+{{ (dislikedFoods.value?.length || 0) - 1 }}
                    {{
                      dislikedFoods.value?.length === 2 ? "other" : "others"
                    }})
                  </span>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let dislikedFoods of dislikedFoodsList"
                  [value]="dislikedFoods"
                  >{{ dislikedFoods }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid md:grid-cols-1 gap-6">
            <mat-form-field class="favourite-cuisines">
              <mat-label
                >Favourite Cuisines
                <mat-icon fontIcon="favorite" color="default"> </mat-icon>
              </mat-label>
              <mat-select [formControl]="cuisines" multiple>
                <mat-select-trigger>
                  {{cuisines.value?.[0] || ''}}
                  <span *ngIf="(cuisines.value?.length || 0) > 1">
                    (+{{ (cuisines.value?.length || 0) - 1 }}
                    {{ cuisines.value?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let cuisine of cuisinesList"
                  [value]="cuisine"
                  >{{ cuisine }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid md:grid-cols-1 gap-6">
            <mat-form-field>
              <mat-label
                >Allergies
                <mat-icon fontIcon="grain" color="default"> </mat-icon>
              </mat-label>
              <mat-select [formControl]="allergies" multiple>
                <mat-select-trigger>
                  {{ allergies.value?.[0] || ''}}
                  <span *ngIf="(allergies.value?.length || 0) > 1">
                    (+{{ (allergies.value?.length || 0) - 1 }}
                    {{ allergies.value?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option
                  *ngFor="let allergy of allergiesList"
                  [value]="allergy"
                >
                  {{ allergy }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid md:grid-cols-1 gap-6">
            <mat-form-field>
              <mat-label
                >Breakfast Preferences
                <mat-icon fontIcon="bakery_dining" class="text-sm"> </mat-icon>
              </mat-label>
              <mat-select [formControl]="breakfasts" multiple>
                <mat-select-trigger>
                  {{ breakfasts.value?.[0] || ''}}
                  <span *ngIf="(breakfasts.value?.length || 0) > 1">
                    (+{{ (breakfasts.value?.length || 0) - 1 }}
                    {{ breakfasts.value?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let food of breakfastList" [value]="food">
                  {{ food }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="grid md:grid-cols-1 gap-6">
            <mat-form-field>
              <mat-label
                >Snack Preferences
                <mat-icon fontIcon="egg"></mat-icon>
              </mat-label>
              <mat-select [formControl]="snacks" multiple>
                <mat-select-trigger>
                  {{ snacks.value?.[0] || ''}}
                  <span *ngIf="(snacks.value?.length || 0) > 1">
                    (+{{ (snacks.value?.length || 0) - 1 }}
                    {{ snacks.value?.length === 2 ? "other" : "others" }})
                  </span>
                </mat-select-trigger>
                <mat-option *ngFor="let food of snackList" [value]="food">
                  {{ food }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="relative z-0 w-full mb-5 group flex justify-center">
            <mat-form-field>
              <div class="flex items-center">
                <!-- Add a div and flex layout -->
                <mat-label>Meal plan range &nbsp;</mat-label>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="mealPlanRange"
                ></mat-datepicker-toggle>
              </div>
              <mat-date-range-input
                [formGroup]="startDate"
                [rangePicker]="mealPlanRange"
              >
                <input
                  matStartDate
                  placeholder="Start date"
                  formControlName="start"
                  readonly
                />
                <input
                  matEndDate
                  placeholder="End date"
                  formControlName="end"
                  readonly
                />
              </mat-date-range-input>
              <mat-date-range-picker #mealPlanRange></mat-date-range-picker>
            </mat-form-field>
          </div>

          <div class="container text-center">
            <p class="text-2xl">③ Generate your meal plan!</p>
            <button
              type="submit"
              class="rounded-lg bg-primary text-white px-40 py-3"
            >
            <mat-icon
            fontIcon="search"
            class="pt-1"></mat-icon>
             
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <br />

<!-- start of response ui -->
<div #scrollToMe hidden>
  <div class="loading-meal-plan flex flex-col items-center justify-center h-screen">
    <div>
    <h1 class="centered-text text-xl mb-4">Generating your meal plan...</h1>
    </div>
    <div class="centered-text p-8"> 
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<div #errorDiv hidden>
  <div class="loading-meal-plan p-5  items-center justify-center h-screen">
    <h1 class="centered-text text-xl">
      Sorry, there was an error generating your meal plan
    </h1>
    <h2 class="centered-text text-xl link"><a (click)="this.scrollToTop()">Please try again</a></h2>
  </div>
</div>


<!-- response ui starts here -->
<div class="container py-5 px-20">
<div *ngIf="!this.isEmpty(mealPlanResponse)">
  <p class="text-2xl text-center" *ngIf="searchClicked">
    ④ Want to change this plan? <br />
    Select the meals you don't like and search again.
  </p>
  <div *ngIf="mealPlanResponse.constraints_loosened">
    <p class="change-recipe-text text-center" style="font-style: italic">
      {{ OUT_OF_RANGE }}
    </p>
    <br />
  </div>

  <!-- recipe change option -->
    <button
      mat-raised-button
      color="primary"
      class="get-full-meal-plan-button"
      (click)="getFullMealPlan()"
    >
      Get full meal plan
    </button>


    <div *ngFor="let day of mealPlanResponse.days; index as i"
      class="recipe-day"
      [ngClass]="{ 'no-top-margin': i === 0 }">

      <h2>{{ day.date }}</h2>
            <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
              <!-- Loop for recipes -->
              <ng-container *ngFor="let recipe of day.recipes; index as j" class="w-full">
      
                  <mat-card class="meal-card w-full h-full">
                    <div class="flex justify-items-center">
                      <img [src]="getImageUrl(recipe.id)" height="300" width="300" alt="Image" class="text-center" />
                    </div>
                    <div class="p-2">
                      <mat-card-title>{{ recipe.title }}</mat-card-title>
                      <mat-card-subtitle>{{ mealNames[j] }}</mat-card-subtitle>
                      <mat-card-content>
                        <p>Energy: {{ this.floor(recipe.calories) }} calories</p>
                        <p>Cuisine: {{ recipe.region }}</p>
                        <p>Prep time: {{ recipe.prep_time }}</p>
                      </mat-card-content>
                      <mat-card-footer>
                      <div class="absolute bottom-0 right-10">
                      <mat-card-actions> 
                        <button mat-icon-button 
                        (click)="refreshRecipe(recipe.id, i, j)">
                          <mat-icon>refresh</mat-icon>
                      </button>
                      </mat-card-actions>
                    </div>
                    </mat-card-footer>
                  </div>
                  </mat-card>
              </ng-container>
            
              <!-- Loop for snacks -->
              <ng-container *ngIf="mealPlanResponse.snacks.length > 0">
                <div *ngFor="let snack of mealPlanResponse.snacks; index as i" class="w-full">
                  <mat-card class="meal-card w-full w-full">
                    <div class="flex justify-items-center p-2">
                      <img [src]="getImageUrl(snack.id)" height="300" width="300" alt="Image" />
                    </div>
                    <div class="p-2">
                      <mat-card-title>{{ snack.title }}</mat-card-title>
                      <mat-card-subtitle>Snack</mat-card-subtitle>
                      <mat-card-content>
                        <p>Energy: {{ this.floor(snack.calories) }} calories</p>
                        <p>Cuisine: {{ snack.region }}</p>
                        <p>Prep time: {{ snack.prep_time }}</p>
                        <p>Multiples: {{ snack.multiples }}</p>
                      </mat-card-content>
                      <mat-card-footer>
                        <div class="absolute bottom-0 right-10">
                        <mat-card-actions> 
                          <mat-icon
                            class="refresh-icon"
                            (click)="refreshSnack(snack.id, i)"
                            >refresh</mat-icon>
                        </mat-card-actions>
                      </div>
                      </mat-card-footer>
                    </div>
                  </mat-card>
                </div>
              </ng-container>
            </div>
            
        

              <!-- <img
                src="../../../assets/images/{{
                  expandedStates[i][j] ? 'chevron-up.png' : 'chevron-down.png'
                }}"
                height="25"
                width="25"
                alt="Image"
              /> -->
            <!-- <div *ngIf="expandedStates[i][j]" class="recipe-card-info">
              <div>
                <p>Energy: {{ this.floor(recipe.calories) }} calories</p>
                <p>Cuisine: {{ recipe.region }}</p>
                <p>Prep time: {{ recipe.prep_time }}</p> -->
                <!-- <p>Estimated Price: ${{ recipe.price }}</p> -->
              <!-- </div>
              <div class="replace-meal-container">
                <mat-form-field>
                  <mat-select
                    [(value)]="selectedOptions[i][j]"
                    (selectionChange)="
                      onReplaceMealChange($event, recipe.id, i, j)
                    "
                    (click)="$event.stopPropagation()"
                  >
                    <mat-option selected value="keep">Keep meal</mat-option>
                    <mat-option value="replace">Replace meal</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div> -->

    <!-- <div *ngIf="mealPlanResponse.snacks.length > 0">
      <h2 class="text-center text-l">Side dishes</h2>
      <div class="snack-container">
        <div *ngFor="let snack of mealPlanResponse.snacks; index as i">
          <mat-card class="recipe-card" (click)="toggleSnackExpand(i)">
            <div class="recipe-card-flex">
              <img
                [src]="getImageUrl(snack.id)"
                height="50"
                width="50"
                alt="Image"
              />
              <mat-card-title
                style="margin: 0px; text-align: center; line-height: 25px"
                >{{ snack.title }}</mat-card-title
              >
              <img
                src="../../../assets/images/{{
                  snackExpandedStates[i] ? 'chevron-up.png' : 'chevron-down.png'
                }}"
                height="25"
                width="25"
                alt="Image"
              />
            </div>
            <div *ngIf="snackExpandedStates[i]" class="recipe-card-info">
              <div>
                <p>Energy: {{ this.floor(snack.calories) }} calories</p>
                <p>Cuisine: {{ snack.region }}</p>
                <p>Prep time: {{ snack.prep_time }}</p>
                <p>Multiples: {{ snack.multiples }}</p>
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div> -->
    <br />
    <br />
    <div>
      <table mat-table [dataSource]="mealPlanResponse.tableData">
        <ng-container matColumnDef="nutrientName">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <!-- Turn "Vitamin a" "Vitamin A" -->
            {{
              element.nutrientName.includes("vitamin")
                ? this.displayVitamin(element.nutrientName)
                : element.nutrientName.charAt(0).toUpperCase() +
                  element.nutrientName.slice(1)
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="target">
          <th mat-header-cell *matHeaderCellDef>Target</th>
          <td mat-cell *matCellDef="let element">{{ element.target }}</td>
        </ng-container>

        <ng-container matColumnDef="actual">
          <th mat-header-cell *matHeaderCellDef>Your Meal Plan</th>
          <td mat-cell *matCellDef="let element">{{ element.actual }}</td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
</div>