<div class="form-container mat-elevation-z5">
  <h1>Sign Up a New User!</h1>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error *ngIf="name?.errors?.['required']">
        Name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email address" formControlName="email" />
      <mat-error *ngIf="email?.errors?.['required']">
        Email address is required
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Password"
        formControlName="password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility($event)"
      >
        <mat-icon>{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="password?.errors?.['required']">
        Password is required
      </mat-error>
      <mat-error *ngIf="password?.errors?.['pattern']">
        You need at least 8 characters and at least 1 uppercase Letter
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="togglePasswordVisibility($event)"
      >
        <mat-icon>{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="confirmPassword?.errors?.['required']">
        Confirm Password is required
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
      Passwords should match
    </mat-error>
    <div class="center margin-top">
      <button type="submit" mat-raised-button color="primary">Sign Up!</button>
    </div>
    <span class="center margin-top"
      >Already have an account?
      <a class="sign-in-link" routerLink="/login">Sign in!</a></span
    >
  </form>
</div>
