/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: rgb(136, 165, 111)
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.form-container {
  display: block;
  max-width: 300px;
  margin: auto;
  margin-top: 30px;

  background: #eceff1;
  padding: 48px;
  border-radius: 16px;

  mat-form-field {
    width: 100%;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}

.popup-max-height {
  max-height: 70vh;
}

.dialog-content {
  overflow-y: auto; /* or overflow-y: scroll; */
}

/* add this class name if you want to hide the scroll bar in the html element while maintaining its functionality */
.hide_scroll {
  overflow: auto;
}

/* Style the scrollbar */
.hide_scroll::-webkit-scrollbar {
  width: 0; 
}

.hide_scroll::-webkit-scrollbar-track {
  background: transparent; 
}

.hide_scroll::-webkit-scrollbar-thumb {
  background: transparent;
}

#default-carousel {
  max-width: 50rem;
}

#homepage-landing {
  max-width: 50rem;
}