<div class="popup-max-height hide_scroll">
    <h2 mat-dialog-title class="text-xl text-primary text-center font-bold mb-10">
      Nutrition Chart
    </h2>
    <div class="flex justify-center">
      <mat-form-field class="w-3/4">
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Search" />
      </mat-form-field>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="text-secondary-strong">
      Cancel
    </button>
  </mat-dialog-actions>
  