<div class="text-center">
<h1>With Subscription, you can</h1>
<h3>Generate meal plan for longer period and set up a different goal!</h3>
</div>

<!-- <stripe-pricing-table pricing-table-id="prctbl_1PEs5V08iagEEr2SLOqM2qll"
  publishable-key="pk_test_51PDZUy08iagEEr2S8IXXXI3iiuXBPVXGzcLUJrx6J16oJae2MlZz4Ug0TaxQb4hHEKoqhZ7CS85vltpw9I26TEHg00ZJKSXM3Z">
</stripe-pricing-table> -->

<!-- <stripe-pricing-table [pricing-table-id]="stripePricingTableId" [publishable-key]="stripePublicKey">
</stripe-pricing-table> -->

<stripe-pricing-table [attr.pricing-table-id]="stripePricingTableId" [attr.publishable-key]="stripePublicKey">
</stripe-pricing-table>