<div class="popup-max-height container">
  <div class="flex justify-center pt-3 pb-4">
    <img
      src="./../../../../assets/images/lamp-icon.png"
      alt="lamp"
      class="w-15"
    />
  </div>
  <h2 mat-dialog-title class="text-xl text-primary text-center font-bold mb-10">
    Shopping List
  </h2>

  <div *ngFor="let item of data" class="mb-4 mt-8">
    <h3 class="font-semibold text-primary text-date flex items-center">
      <mat-icon class="mr-2" fontIcon="restaurant" color="default"> </mat-icon>
      {{ item.date | date : "MMM-dd" }}
    </h3>

    <ul>
      <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
          <li
            *ngFor="let listItem of item['shopping-list']"
            class="border-l-4 border-primary pl-2 pr-4 flex justify-between mr-2"
          >
            <p class="text-item">{{ listItem.name }}</p>
            <p class="text-item">{{ listItem.quantity }}</p>
          </li>
        </div>
      </div>
    </ul>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="text-secondary-strong">
      Cancel
    </button>
  </mat-dialog-actions>
</div>
