<div class="flex flex-col md:flex-row items-center justify-center md:justify-between h-screen p-20">
  <div class="md:w-1/4 w-full text-left">
    <h1 class="text-xl">
      Reach your health goal with better eating.
    </h1>
    <p class="text-lg mb-4 font-light">
      Personalized, and safe meal plans, designed by a registered dietician,
      customized to your nutritional requirements, personal preferences and restrictions.
    </p>
    <button class="bg-secondary text-white px-6 py-2 text-xl rounded hover:bg-primary" (click)="goToQuestionnaire()">
      Continue
    </button>
  </div>

  <!-- Carousel -->
  <div class="md:w-3/4 w-full h-full overflow-hidden flex justify-end h-screen">
    <app-carousel [imgClass]="'w-full h-full object-fill'" [containerClass]="'h-full'"></app-carousel>
  </div>

</div>