<div class="flex flex-col md:flex-row items-stretch h-screen">
  <div class="md:w-1/2 w-full p-10 flex flex-col justify-center items-start text-left">
    <h1 class="text-2xl font-bold mb-4">
      Reach your health goal with better eating.
    </h1>
    <p class="text-lg mb-4 font-light">
      Personalized, and safe meal plans, designed by a registered dietician,
      customized to your nutritional requirements, personal preferences and restrictions.
    </p>
    <button class="bg-secondary text-white px-6 py-2 text-xl rounded hover:bg-primary" (click)="goToQuestionnaire()">
      Continue
    </button>
  </div>

  <!-- Carousel -->
  <div class="md:w-1/2 w-full h-screen relative overflow-hidden">
    <app-carousel [imgClass]="'w-full h-full object-cover'"
      [containerClass]="'w-full  md:h-full flex items-center p-10 md:pr-10'" [extraClass]="'w-full h-full'">
    </app-carousel>
  </div>

</div>